body, h1 ,h2 ,p ,ul ,li ,a {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}



/*/Header Menu/*/

.header {
    background-color: #fcc33f;
    padding: 15px 0;
    
}

.header-logo a  {
    margin: 0 10px;
}

.header-menu {
    flex: 1;
    margin: 0 10px;
    align-self: center;
    
}

.item-menu  {
    display: flex;
    float: right;
}

.header-menu ul, li, a {
    padding: 0 10px;
    width: 0 10px;
    color: rgb(20, 20, 20);
    font-size: 1.125em;
    font-weight: bold;
}

.header-menu ul, li, a:hover {
    color: #fff;
    border-color: #fff;
}



/* Introdição */


.introducao {
    flex: 1;
    width: 100%;
    background: url('../img/bg-intro.jpg') no-repeat center;
    background-size: cover;

}