
body, h1 ,h2 ,p ,ul ,li ,a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}





/*/Header Menu/*/

.header-mn {
    background: gold;
}

.menu {
    max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header-logo img  {
    width: 70px;
    margin-top: -12px;
    margin-bottom: -12px;
}


.header-nav ul {
    display: flex;
    flex-wrap: wrap;    
}

.header-nav a {
    font-size: 1.25em;
    display: block;
    color: black;
    padding: 10px;
}

.header-nav a:hover{
	color: #fff;
}


/* Introdição */


.introducao {
    width: 100%;
    height: 480px;
    background: url('https://dm2301files.storage.live.com/y4mU-40dAdhc4dIMTCH4WfLCTk702FuFh8cHoXZRiyXkDyE6eInQnAyYWpM0vJfD6F8hYjMrHXBNjDJUyHWEQa-xqnv64IwWI9VF1wudvIlOxwaRAV8H9I6V7vXDGq_uyIVJaDNmdNnloGc_wvP_nknkTWBTef7vFme-3ilFpVWES3PzhJyx_RPtuVpJYeQqzg0weHND_LLHKEJPQ8a8tamXg/_MG_2460.png?psid=1&width=788&height=525') no-repeat center;
    background-size: cover;

}
.introducao h1 {
    padding: 20px;
    padding-top: 150px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 392px;
    text-align: left;
    

}

span {
    color: #fff;
}


.btn {
    max-width: 300px;
    margin: 20px auto;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em;
    letter-spacing: 3px;
    padding: 15px 0;
    display: block;
    margin-top: 120px;
    background: gold;
    border-radius: 60px;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
}

/*Produtos*/

.produtos-titulo {
    margin: 0 auto;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 80px;
}

.produtos-titulo:after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background: black;
    margin: 6px auto 10px auto;
}

.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
}

.produtos-item {
    flex: 1;
    border: solid 1px lightgray;
    margin: 10px;
    margin-top: 50px;
}

.produtos-item:hover {
    color: gray;
    transition: all 0.2s ease;
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
}

.produtos-item h2 {
    font-size: 30px;
    color: dimgray;
    background: #f7f7f7;
    padding: 60px 20px;
}

.coleirared {
    border-top: 8px solid #c01010;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
}

.coleirabege {
    border-top: 8px solid rgb(212, 140, 71);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
}

.coleiratres {
    border-top: 8px solid gray;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
}

.produtos-divisao img {
   margin-top: 10px;
   padding-left: 10px;
   width: 950px;
   
}

.produtos-call p {
    margin-left: 325px;
}




